link(rel="stylesheet", href="style.css")
script(src="jquery.js")

body
    #hero
        #contact
            #cont Contact me

            #insta
            #twitter
            #email
        #name
            p#title Jeff Jacob Joy
            p Frontend programmer
            p UI/UX designer
        #currProject
            img(src="", alt="")
            p Current Project
        img#tri(src="res/tri-grad.svg")
        img#line(src="res/line-grad.svg")
