* {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  height: 100vh;
}

button {
  background: none;
  border: none;
}

#nav, .top, #nav > .top > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav {
  width: 10%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0 0.8rem 0.8rem 0;
  justify-content: space-between;
  flex-direction: column;
}

.top {
  flex-direction: column;
}

#nav > .top > * {
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
}

.imag {
  width: 2rem;
  height: 2.2rem;
}

#nav > .top > #sale > .imag {
  background: url("res/sale.svg");
  margin-right: 0.2rem;
}

#nav > .top > #close > .imag {
  background: url("res/close.svg");
}

#nav > .top > #debt > .imag {
  background: url("res/debt.svg");
}

#account {
  width: 2.5rem;
  height: 2.5rem;
  background: #eeeeee;
  margin: 1rem;
}

#graph {
  width: 100%;
}

#right {
  width: 80%;
  height: 100vh;
  background: #EEF6F6;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

#rightWindow {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 65rem) {
  #graph {
    display: none;
  }
  #app {
    flex-direction: column;
  }
  #nav, #right {
    width: 100%;
    flex-direction: row;
  }
  #nav > .top > * {
    margin: 0.5rem 0.5rem;
  }
  .top {
    flex-direction: row;
  }
}
