@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
html {
  --project-padding: 4rem; }

* {
  margin: 0;
  padding: 0; }

body, div, a {
  display: flex;
  flex-direction: column; }

/* colors */
.row {
  flex-direction: row; }

h1, h2, h3, h4 {
  color: #E9FFFA; }

h1 {
  font-size: 3rem; }

body {
  background: #0B2422;
  font-family: "Atkinson Hyperlegible";
  color: #A3D1CE;
  font-size: 1.3rem;
  overflow-x: hidden;
  min-height: 100vh;
  justify-content: space-between; }

.content {
  flex: 1; }

.content > * {
  margin-left: 20vw; }

.logo {
  background: #51A59D;
  border-radius: 0 0 2.5rem 0;
  padding: 2rem 2.5rem;
  width: 2.5rem;
  position: fixed;
  top: 0; }

.page-not-found {
  margin: auto !important;
  align-items: center; }

.hero {
  justify-content: space-around;
  height: 95vh; }

.center-text {
  font-size: 2.5rem; }

.title {
  color: #E9FFFA;
  font-size: 4rem;
  font-weight: bold; }

.details {
  margin-top: 2rem;
  font-family: "Fira Code"; }

.designer {
  font-weight: bold;
  font-family: "Atkinson Hyperlegible";
  margin-left: 1.6rem; }

.projects {
  background: #1E5954;
  padding: 4rem 0;
  margin-left: calc(20vw - var(--project-padding));
  border-radius: 6rem 0 0 6rem;
  overflow: hidden; }
  .projects h1, .projects .description {
    margin-left: var(--project-padding); }

.project-list {
  margin-top: 3rem;
  padding-left: var(--project-padding);
  flex-direction: row;
  overflow-x: scroll; }

.project-card {
  background: #114642;
  color: #E9FFFA;
  border-radius: 2rem;
  text-decoration: none;
  flex-direction: row;
  overflow: hidden;
  width: 35rem;
  margin-right: 2rem;
  flex-shrink: 0; }

.project-details {
  margin: 2rem 0 2rem 2rem;
  justify-content: space-between; }

.techs {
  flex-direction: row; }
  .techs > img {
    height: 2rem;
    margin-right: 1rem; }

.name {
  font-size: 2rem;
  font-weight: bold; }

.project-bg {
  height: 15rem;
  width: 20rem;
  background-size: cover !important;
  opacity: 0.6; }

.blog-list {
  margin-block: 10rem;
  margin-right: 10vw;
  gap: 3rem; }
  .blog-list a {
    color: #A3D1CE;
    text-decoration: none; }

.blog-date {
  color: #2A6F69; }

.blog-tags {
  flex-direction: row;
  gap: 1rem; }
  .blog-tags .tag {
    color: #2A6F69; }

.footer {
  background: #1E5954;
  width: 100vw;
  box-sizing: border-box;
  padding: 5rem 8vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .footer .name {
    font-weight: bold;
    color: #E9FFFA;
    margin-bottom: 1rem; }

.socials {
  gap: 1rem; }

.social {
  flex-direction: row;
  text-decoration: none;
  color: #A3D1CE;
  align-items: center;
  gap: 1rem; }
  .social > img {
    height: 2rem; }

.blog-content {
  margin-block: 8rem;
  margin-right: 10vw;
  max-width: 60rem;
  line-height: 1.4; }
  .blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6 {
    margin-top: 2rem;
    margin-bottom: 0.6rem; }
  .blog-content ul {
    margin-left: 1.2rem; }
  .blog-content pre {
    background: #041a18;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
    color: #E9FFFA;
    font-size: 1rem;
    overflow: scroll; }
  .blog-content blockquote {
    padding: 1rem;
    border-left: 0.3rem solid #2A6F69; }
  .blog-content strong {
    color: #E9FFFA; }
  .blog-content hr {
    color: #51A59D;
    margin-block: 1rem; }
  .blog-content header {
    margin-botttom: 5rem; }
    .blog-content header > ul {
      margin-left: 0 !important;
      list-style: none;
      flex-direction: row;
      display: flex;
      gap: 1rem;
      color: #2A6F69; }
      .blog-content header > ul li::before {
        content: "#"; }

@media screen and (max-width: 700px) {
  .content > * {
    margin-left: 10vw; }

  body {
    font-size: 1.1rem; }

  .logo {
    padding: 3vh 3.5vh;
    width: 4vh; }

  .center-text {
    font-size: 4.5vh; }

  .center-text .title {
    word-spacing: 100vw;
    font-size: 9vh; }

  .projects {
    margin-left: 0;
    border-radius: 0;
    --project-padding: 10vw; }

  .project-list {
    flex-direction: column;
    gap: 2rem;
    overflow: clip; }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem; } }

/*# sourceMappingURL=style.css.map */
